<!DOCTYPE html>
<html>
  <head>
    <title>GumballMachine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Gumball Machine</h1>
    <p><%= title %></p>
    <a href="/insrt">Insert a Quarter</a><br/>
    <a href="/turn">Turn the Crank</a>
  </body>
</html>
